html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    min-height: 100%;
    margin-bottom: -50px;

}

.full-height:after {
content: "";
display: block;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 3em;
    text-transform: uppercase;
}
.footer, .full-height:after {
  color: #636b6f;
  height: 50px;
}
.footer a:link {text-decoration: none;color: #636b6f;} 
.footer a:visited {text-decoration: none;color: #636b6f;} 
.footer a:active {text-decoration: none;color: #636b6f;} 
.footer a:hover {text-decoration: none;color: #636b6f;} 